@import "tailwindcss";


html,
body {
  height: 100%;
}


@theme {
  /* custom colors */

  /* Theme A */
  /* --color-primary: #139B8A;
  --color-secondary: #F4F4F4;
  --color-primarybackground: #14142B;
  --color-secondarybackground: #262338; */

      /* Theme B */
  /* --color-primary: #49C5C9;
  --color-secondary: #F4F4F4;
  --color-primarybackground: #181D22;
  --color-secondarybackground: #242C32;
  --color-cardbackground: #0F1517; */

        /* Theme C */
  --color-primary: #49C5C9;
  --color-secondary: #F4F4F4;
  --color-primarybackground: #0D1117;
  --color-secondarybackground: #151B23;
  --color-cardbackground: #151B23;


  /* custom font */
  --font-heading: "Open Sans", sans-serif;
  --font-base: "Open Sans", sans-serif;
  --font-primarycolor: #0D0D0D;

  /* custom spacing */
  --spacing-7: 1.78rem;

  /* custom breakpoints */
  --breakpoint-xs: 26.875rem; /* 430px - for large mobile devices like iPhone Pro Max */
  --breakpoint-3xl: 120rem;
}

@layer base {
  a{
    color: white;
    @apply hover:underline;
  }
  
}

@layer components {
  /*reusable components*/
  .btn {
    @apply px-4 bg-amber-300 text-black rounded hover:bg-amber-500 transition-colors py-3;
  }
  .btn-navigation {
    @apply bg-red-500;
  }
}

@font-face {
  font-family: 'Open Sans';
}
